
   <div class="panel panel-default">
     
        <%= render 'form' %>
        <div class="center">
            <div class="form-group">
              <%= link_to 'Back', product_orders_path, class: "btn btn-primary btn-outline btn-sm" %>
            </div>
          </div>
        
    
   </div>
