

        <div class="jumbotron">
          <div class="container-fluid">
                <h1 class="text-left">Sell your old stuff here!</h1>
                <h2 class="text-left">Value For Money</h2>
                <h2 class="text-left">Variety</h2>
                <p><a class="btn btn-primary btn-lg" href="/products" role="button">Learn more &raquo;</a></p>
          </div>
        </div>
