
<div id="footer">
     
        <h5 class="footertxt"></h5>

</div>

<footer id="footer">
	 <h5 class="copyright">&copy; MarketSecondHand; 2017; ArtusBayDesign.</h5>
	 <nav>
	     <a href="https://www.facebook.com/artoriusXIII" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
	     <a href="https://www.linkedin.com/in/arturjanka?trk=nav_responsive_tab_profile_pic" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
	     
	 </nav>
</footer>